<h2>
  <%= @post.title %>
</h2>
<p>
  Posted by: <%= @post.user.name %> on <%= @post.created_at %>
</p>
<p class="post-body">
  <%= @post.body %>
</p>

<% if @post.user_id == session[:user_id] %>
  <%= button_to "Delete Post", { action: "destroy", id: @post.id }, class: "post-form", method: :delete %>
  <%= button_to "Edit Post", { action: "edit", id: @post.id }, class: "post-form", method: :get %>
<% end %>
