<!DOCTYPE html>
<html>
  <head>
    <title>Devin's Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <h1><%= link_to("Devin's Blog", posts_path) %></h1>
    <%= yield %>
  </body>
</html>
